* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    background:#222;
}
#header {
    position:relative;
    height:80px;
    background:#333;
    transition:.5s height;
    transition-delay:.2s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow:hidden;
}
#header.authenticating {
    height:320px;
}
#topBar {
    height:24px;
    background:black;
}
#actionBar {
    position:relative;
    height:56px;
    background:purple;
}
#profile {
    display:block;
    position:absolute;
    right:24px;
    top:8px;
    cursor:pointer;
}
#actionBar #prof_pic {
    display:inline-block;
    float:right;
    height:40px;
    width:40px;
    margin-left:8px;
    border-radius:50%;
    background:white;
}
#actionBar #prof_name {
    display:inline-block;
    right:48px;
    top:0px;
    font-size:24px;
}
#authForm {
    height:200px;
    width:70vw;
    margin:20px auto;
    padding:25px;
    background:#333;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#authForm h1 {
    text-align: center;
    margin-bottom:16px
}
#authForm input,
#authForm button {
    display:block;
    width:75%;
    margin:0 auto;
    margin-bottom:8px;
}
#fab {
    height:56px;
    width:56px;
    position:fixed;
    bottom:24px;
    right:24px;
    background:white;
    border-radius:50%;
    transform:translate3d(40vw,0,0);
    -webkit-transform:translate3d(40vw,0,0);
    transition:.35s ease-in-out transform;
    -webkit-transition:.35s ease-in-out -webkit-transform;
}
#fab.active {
    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
}
#modal {
    display:flex;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,.35);
    height:100vh;
    width:100vw;
    transition:.15s opacity;
    pointer-events: none;
    opacity:0;
}
#modal.active {
    opacity:1;
    pointer-events:all;
}
#modal .modal_cont {
    display:block;
    height:75vh;
    min-width:320px;
    max-width:640px;
    width:75vw;
    background:#333;
    margin:auto;
    padding:24px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform:translate3d(100vw,0,0);
    -webkit-transform:translate3d(100vw,0,0);
    transition:.35s ease-in-out transform;
    -webkit-transition:.35s ease-in-out -webkit-transform;
    overflow:auto;
}
#modal.active .modal_cont {
    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
}